@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes:
    garden --default,
    dracula --prefersdark;
}

@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-base-content-gray: color-mix(in oklab, var(--color-base-content) 70%, transparent);
}

html {
  background: var(--color-base-200);
}
